#meImg{
	max-width: auto;
	height: 60vh;
	background: url("/assets/img/me.jpg") center fixed; 
	background-position:50% 10% ;
	border-bottom: 2px solid red;
	background-size: cover;
}
.favourite {
	display: flex;
	flex-direction: column;

}

.favourite article{
	display: flex;
	align-items: center;
	margin: 30px 0;
}

.favourite span {
	font-size: 70px;
	padding-right: 5px;
	line-height: .85;
}

.favourite .description {
	display: flex;
	align-items: flex-end;
	border-bottom: solid black 2px;
}

.favourite .description h3 {
	letter-spacing: 0.05em;
}

.favourite .album p {
		color: black;
}

.favourite .album {
	margin: 0 10px;
}

.favourite h3 {
	font-size: 25px;
}

.favourite img {
	width: 50%;
	height: 50%;
}

.favourite p {
	margin: 0px;
	padding: 5px 0px;
}
