#imgLive {
	height: 70vh;
	background: url(/assets/img/Duel_1324.png) center fixed;
	/* background-position: 0% 0%; */
	background-size: cover;
	border-bottom: 2px solid red;
}

#alphabet{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#alphabet article{
	width: 50%;
	padding: 10px;
	border: transparent 2px solid;
	transition: .3s all ease;
}

#alphabet article:hover {
	border: red 2px solid;
}

#alphabet li {
	font-family: Roboto;
}

#alphabet li:hover {
	color: red;
}

#alphabet a {
	font-size: 1em;
	font-weight: bold;
}

#alphabet a:hover {
	border-bottom: 1px solid red;
	cursor: pointer;
}

ul{
	padding: 0;
}

li{
	list-style: none;
	font-size: 1.2em;
}

.highlight{
	font-weight: bold;
}

#searchInput {
	input {
		padding: 10px 10px 8px 10px;
		font-size: 1.2em;

	}
}

#showVideoDiv{
		/* margin: 10px 0; */
	font-family: Bebas neue;
	text-decoration: none;
	color: white;
	background-color: red;
	padding: 10px 10px 8px 10px;
	transition: all 0.3s ease;
	font-size: 1.2em;
	margin: 20px 0.5em;
	text-align: center;
	border: none;
	display: inline;
	#showVideo{

}
}

#showVideoDiv:hover{
	background-color: dimgrey;
	color: white;
}




.hidden {
	display:none;
}

/* background-color:lightgrey;
	color: black;
	border: none;
	display: block; */
	
	/* padding: 5px;
	font-size: 1.2em;
	border-radius: 0;
	cursor: pointer; */ */
	/* appearance: none;
}

#showVideo:hover {
	/* padding: 10px; */