@media screen and (max-width: 800px) {
	#index {
		display: none;
	}

	#imgLive {
		display: none;
	}

	#imgGallery {
		display: none;
	}

	#meImg {
		display: none;
	}

	h1 {
		font-size: 1.5em;
	}

	.raster article {
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 600px) {
	.navBar {
		/* flex-direction: column; */
		font-size: 15px !important ;
	}

	#alphabet article {
		width: 100%;
	}

	.meImg {
		height: 40vh;
	}

	.favourite article {
		flex-direction: column;
		margin: 1.8em 0;
	}

	.favourite span {
		font-size: 3em;
	}

	.favourite .text {
		margin: 0px;
		width: 60%;
	}

	.favourite img {
		width: 100%;
		height: 100%;
	}

	.favourite .album {
		display: inline;
		border-bottom: none;
		margin: 0;
		width: 100%
	}

	.favourite h3 {
		font-size: 1em;

	}

	.favourite p {
		font-size: 0.8em;
		padding: 0;
	}

	.favourite .description {
		margin-top: 1em;
		border-bottom-style: none;
	}
}

@media screen and (max-width: 450px) {
	.header img {
		width: 80%!important;
	} 
	.index {
		height: 60vh;
		background-position: 50% 0%;
	}

	.main, main {
		max-width: 90vw!important;
	}

	#searchInput  {
		#searchBand {
				width: 50%
		}

		#showVideoDiv {
			margin: 0;
		}
			
	}

	#alphabet {
		article {
			padding: 10px 0;
		}
	}
	

	.raster article {
		width: 100%;
	}
}